<header class="page-header">
  <h1>Whiteboard</h1>
  <account-menu></account-menu>
</header>

<div class="page">
  <div class="side">
    <h1>New User</h1>
  </div>

  <div class="cards">
    <div class="card wide">
      <h2>User Details</h2>

      <form class="horizontal" ng-submit="save()">
        <label class="row">
          <span class="label-text">Login Name</span>
          <input type="text" ng-model="user.loginName">
        </label>

        <label class="row">
          <span class="label-text">Password</span>
          <input type="text" ng-model="user.password">
        </label>

        <label class="row">
          <span class="label-text">User Type</span>
          <select ng-model="user.userType" ng-options="type for type in userTypes"></select>
        </label>

        <ul class="errors">
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>

        <div class="actions">
          <input type="submit" value="Create User" />
        </div>
      </form>
    </div>
  </div>
</div>
