* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
}

.page-header {
  background-color: #004730;
  color: white;
  padding: 15px 20px;
  display: flex;
}

.page-header h1 {
  margin: 0 auto 0 0;
  font-size: 20px;  
}

.login {
  margin: 50px auto;
  width: 300px;
  background-color: white;
  box-shadow: 0 1px 20px rgba(0, 0, 0, .05);
  padding: 30px;
  text-align: center;
  border-radius: 3px;
}

.login label {
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  text-align: left;
  display: block;
  font-size: 12px;
}

.login input[type=text],
.login input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  border-width: 0 0 1px 0;
}

input[type=text],
input[type=email],
input[type=password] {
  padding: 0.5em 0;
  border: 1px solid #ccc;
  font-size: 18px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  outline: none;
  box-shadow: 0 1px 0 #09f;
  border-color: #09f;
}

button,
input[type=submit] {
  background-color: #09f;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 3px;
  font-size: inherit;
  border: none;
}

.tt {
  border-collapse: collapse;
  width: 100%;
}

.tt th,
.tt td {
  border: 1px solid #ccc;
  padding: 0.6em 0.6em;
  font-size: 12px;
  width: 90px;
  background-color: #fff;
  text-align: center;
}

.tt th {
  background-color: #f2f2f2;
}

.tt td:first-child {
  text-align: right;
  font-weight: bold;
  color: #999;
  background-color: #fbfbfb;
}

.dashboard {
  display: flex;
  padding: 20px;
}

.dashboard-module {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: block;
  flex: 1;
  margin-right: 20px;
}

.dashboard-module:last-child {
  margin-right: 0;
}

.dashboard-module-title {
  font-size: 16px;
  color: #777;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

account-menu {
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

account-menu .account-dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #fff;
  width: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

account-menu .account-dropdown li {
  padding: 0;
}

account-menu .account-dropdown a {
  color: #333;
  text-decoration: none;
  padding: 0.6em;
  display: block;
  border-bottom: 1px solid #ddd;
}

account-menu .account-dropdown a:hover {
  background-color: #07c;
  color: white;
}
