* {
  box-sizing: border-box;
}

body {
  background-color: #004730;
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
}

.page-header {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  color: white;
  padding: 15px 20px;
  display: flex;
}

.page-header h1 {
  margin: 0 auto 0 0;
  font-size: 20px;  
  font-family: 'Proxima Nova';
  font-weight: normal;
}

.logo {
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: auto;
}

.login {
  margin: 40px auto;
  width: 300px;
  background-color: white;
  box-shadow: 0 1px 20px rgba(0, 0, 0, .05);
  padding: 30px;
  text-align: center;
  border-radius: 3px;
}

.login label {
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  text-align: left;
  display: block;
  font-size: 12px;
}

.login input[type=text],
.login input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  padding: 0.5em 0;
  border-width: 0 0 1px 0;
  font-size: 18px;
}

input[type=text],
input[type=email],
input[type=password] {
  padding: 0.5em 0.8em;
  border: 1px solid #ccc;
  font-size: inherit;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  outline: none;
  border-color: #09f;
}

.login input[type=text]:focus
.login input[type=password]:focus {
  box-shadow: 0 1px 0 #09f;
}

.login button,
.login input[type=submit] {
  background-color: #09f;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 3px;
  font-size: inherit;
  border: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

.tt {
  border-collapse: collapse;
  width: 100%;
}

.tt th,
.tt td {
  border: 1px solid #ccc;
  padding: 0.6em 0.6em;
  font-size: 12px;
  width: 90px;
  background-color: #fff;
  text-align: center;
  white-space: nowrap;
}

.tt th {
  background-color: #f2f2f2;
}

.tt td:first-child {
  text-align: right;
  font-weight: bold;
  color: #999;
  background-color: #fbfbfb;
}

/* .card:last-child {
  margin-right: 0;
} */

.card-title {
  font-size: 16px;
  color: #777;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

account-menu {
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

account-menu .account-dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #fff;
  width: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

account-menu .account-dropdown li {
  padding: 0;
  border-bottom: 1px solid #ddd;
}

account-menu .account-dropdown a {
  color: #333;
  text-decoration: none;
  padding: 0.6em;
  display: block;
}

account-menu .account-dropdown a:hover {
  background-color: #07c;
  color: white;
}

account-menu .account-dropdown .colours {
  display: flex;
  padding: 0.6em;
  color: #333;
  cursor: default;
}

account-menu .account-dropdown .colours span {
  margin-right: auto;
}

account-menu .account-dropdown .colour {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #004730;
  margin: 2px 0 2px 8px;
  cursor: pointer;
}

account-menu .account-dropdown .colour[class*='#004730'] { background-color: #004730; }
account-menu .account-dropdown .colour[class*='#de8511'] { background-color: #de8511; }
account-menu .account-dropdown .colour[class*='#1e3d91'] { background-color: #1e3d91; }
account-menu .account-dropdown .colour[class*='#ff00ff'] { background-color: #ff00ff; }

account-menu .account-dropdown .colour.selected {
  transform: scale(1.2);
}

.login .errors {
  margin-bottom: 8px;
}

.login .error {
  font-size: 12px;
  color: white;
  background: #c44;
  padding: 0.4em 0.6em;
  margin-bottom: 2px;
}

.course-manage-list ul {
  margin: 0;
  padding: 0;
}

.course-manage-list li {
  display: block;
  padding: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 20px 20px;
  margin-left: 400px;
}

.card {
  max-width: 600px;
  min-width: 400px;
  margin-bottom: 20px;
  transition: all 300ms;
  background-color: #f4f4f4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  display: block;
  flex: 1;
  margin-right: 20px;
  padding: 20px;
}

.card.wide {
  /* max-width: 900px; */
  min-width: 600px;
}

.card.clickable:hover {
  transform: scale(1.02);
  background-color: white;
  transition: all 50ms;
}

.card > a {
  text-decoration: inherit;
  color: inherit;
  padding: 20px;
  margin: -20px;
  display: block;
}

.card h2 {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  padding-bottom: 0.5em;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); */
  margin: -20px -20px 20px -20px;
  padding: 12px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.04);
  color: #555;
  border-bottom: 1px solid #ccc;
}

.card > .actions {
  margin-top: 20px;
}

.stat {
  float: left;
  display: flex;
  flex: 1;
  align-items: flex-end;
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

.stat:last-child {
  margin-right: 0;
}

.stats {
  display: flex;
  padding-top: 10px;
}

.stat .number {
  font-size: 60px;
  color: #555;
  font-family: 'Proxima Nova';
  font-weight: 100;
}

.stat .label {
  text-transform: uppercase;
  font-weight: bold;
  color: #aaa;
  width: 60px;
  font-size: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
}

.due {
  color: #555;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 1em 1.2em;
  border-top: 1px solid #ccc;
  margin: 10px -20px -20px;
}

.page {
  display: flex;
  background-attachment: fixed;
  background-image:
    linear-gradient(130deg, rgba(255, 255, 255, 0.02) 250px, transparent 250px),
    linear-gradient(130deg, rgba(255, 255, 255, 0.03) 330px, transparent 330px);
}

.side {
  padding: 100px;
  position: fixed;
  width: 400px;
  height: 100vh;
  top: 0;
}

.side h1 {
  color: white;
  line-height: 1;
  font-size: 45px;
  font-family: 'Proxima Nova';
  font-weight: 300;
  text-align: center;
}

.side nav {
  position: absolute;
  bottom: 50px;
  width: 200px;
}

.side ul {
  padding: 0;
  margin: 80px 0 0;
}

.side li {
  list-style: none;
  margin: 0 0 10px;
}

.side li a {
  text-align: center;
  color: #fffd;
  font-size: 18px;
  font-family: 'Proxima Nova';
  display: block;
  padding: 0.8em;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: all 300ms;
}

.side li a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 50ms;
}

form.horizontal {
  margin-top: 20px;
}

form.horizontal .row {
  display: flex;
  align-items: center;
}

form.horizontal .label-text {
  display: block;
  width: 120px;
  text-align: right;
  padding-right: 1em;
  color: #888;
  font-weight: bold;
}

form.horizontal .row + .row {
  margin-top: -1px;
}

form.horizontal .row input {
  flex: 1;
}

form.horizontal .row input:focus {
  z-index: 1;
}

form.horizontal .actions {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
}

form.horizontal .actions input + input {
  margin-left: 0.5em;
}

form.horizontal input[type=submit] {
  background-color: #004730;
  font-size: 14px;
  color: white;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 3px;
}

form.horizontal .actions .delete-btn {
  background-color: #c44;
}

.course-list {
  margin: -10px 0;
  padding: 0;
}

.course-list li {
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  padding: 0.6em 0;
}

.course-list li:last-child {
  border-bottom: none;
}

.expandable {
  margin-left: 50px;
  background-color:rgb(16, 95, 15);
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 400px;
  border: none;
  text-align: left;
  outline:none;
  font-size: 20px;
}

.active, .expandable:hover {
  background-color: rgb(104, 13, 13);
}

.content {
  padding: 3px 18px;
  margin-left: 50px;
  overflow: visible;
  transition: max-height 0.2s ease-out;
}

fieldset {
  border: none;
}

.update {
  margin-top: 30px;
}
 
.action, .update:hover {
  background-color: dimgray;
}

table.assignments {
  width: 100%;
  border-collapse: collapse;
}

table.assignments td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

table.assignments tr:first-child td { border-top: none; }
table.assignments tr:last-child td { border-bottom: none; }

.qa .thread {
  padding-left: 60px;
  position: relative;
}

.qa .thread:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.qa .thread::before {
  content: 'Q';
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #999;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.qa .question-asker {
  color: #999;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.qa .answer {
  background-color: #e4e4e4;
  padding: 10px;
  margin-top: 15px;
  border-radius: 4px;
  position: relative;
}

.qa .answer::before {
  content: '';
  position: absolute;
  top: -14px;
  left: 10px;
  border: 7px solid transparent;
  border-bottom-color: #e4e4e4;
}

.qa .answer input {
  width: 300px;
  padding: 5px;
  margin: -5px;
  border: none;
  font: inherit;
}

table.submissions {
  width: 100%;
  border-collapse: collapse;
}

table.submissions td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

table.submissions tr:first-child td { border-top: none; }
table.submissions tr:last-child td { border-bottom: none; }

table.submissions input {
  padding: 5px;
  width: 50px;
  font: inherit;
  margin-left: -8px;
}
