<header class="page-header">
  <h1>Whiteboard</h1>
  <account-menu></account-menu>
</header>

<div class="page">
  <div class="side">
    <h1>New Assignment</h1>
  </div>

  <div class="cards">
    <div class="card wide">
      <h2>Assignment Details</h2>
      
      <form class="horizontal">
        <label class="row">
          <span class="label-text">Name</span>
          <input type="text" ng-model="assignment.name">
        </label>
        
        <label class="row">
          <span class="label-text">Overview</span>
          <input type="text" ng-model="assignment.overview">
        </label>
        
        <label class="row">
          <span class="label-text">Due Date</span>
          <input type="text" ng-model="assignment.dueDate">
        </label>

        <div class="actions">
          <input type="submit" value="Delete" class="delete-btn" />
          <input type="submit" value="Save Assignment Details" />
        </div>
      </form>
    </div>
  </div>
</div>
