<header class="page-header">
  <h1>Whiteboard</h1>
  <account-menu></account-menu>
</header>

<div class="page">
  <div class="side">
    <h1>Manage Course</h1>

    <nav>
      <ul>
        <li><a ng-href="#!/lecturers/courses/{{course.code}}/assignments/new">Add Assignment</a></li>
      </ul>
    </nav>
  </div>

  <div class="cards">
    <assignment-list
      course="course"
      class="card">
    </assignment-list>
    
    <div class="card">
      <h2>Course Details</h2>
      <form class="horizontal">
        <label class="row">
          <span class="label-text">Title</span>
          <input type="text" ng-model="course.title">
        </label>
        
        <label class="row">
          <span class="label-text">Overview</span>
          <input type="text" ng-model="course.overview">
        </label>
        
        <label class="row">
          <span class="label-text">Year</span>
          <input type="text" ng-model="course.year">
        </label>
        
        <label class="row">
          <span class="label-text">Trimester</span>
          <input type="text" ng-model="course.trimester">
        </label>
        
        <label class="row">
          <span class="label-text">Lecture Times</span>
          <input type="text" ng-model="course.lectureTimes">
        </label>

        <div class="actions">
          <input type="submit" value="Save Course Details" />
        </div>
      </form>
    </div>

    <div class="card">
      <h2>Danger Zone</h2>

      <form class="horizontal">
        <div class="actions">
          <input type="submit" value="Delete Course" class="delete-btn" />
        </div>
      </form>
    </div>
  </div>
</div>
