<header class="page-header">
  <h1>Whiteboard</h1>
  <account-menu></account-menu>
</header>

<div class="page">
  <div class="side">
    <h1>{{course.id}}</h1>
  </div>

  <div class="cards">
    <div class="card wide">
      <h2>Course Details</h2>
      <form class="horizontal">
        <label class="row">
          <span class="label-text">Name</span>
          <input type="text" ng-model="course.name">
        </label>
        
        <label class="row">
          <span class="label-text">Overview</span>
          <input type="text" ng-model="course.overview">
        </label>
        
        <label class="row">
          <span class="label-text">Year</span>
          <input type="text" ng-model="course.year">
        </label>
        
        <label class="row">
          <span class="label-text">Trimester</span>
          <input type="text" ng-model="course.trimester">
        </label>
        
        <label class="row">
          <span class="label-text">Lecture Times</span>
          <input type="text" ng-model="course.lectureTimes">
        </label>
      </form>
    </div>
    
    <assignment-list course="course" context="students" class="card"></assignment-list>
  </div>
</div>
